<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mdmgt</display-name>
  <filter>
    <description></description>
    <display-name>CharSetEncodingFilter</display-name>
    <filter-name>CharSetEncodingFilter</filter-name>
    <filter-class>com.mazda.gms3.mdm.filter.CharSetEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharSetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <description></description>
    <display-name>AccessManagementFilter</display-name>
    <filter-name>AccessManagementFilter</filter-name>
    <filter-class>com.mazda.gms3.mdm.filter.AccessManagementFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessManagementFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>AxleType</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.AxleType</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>BodyType</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.BodyType</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>CountryLocale</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.CountryLocale</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LocaleSelector</display-name>
    <servlet-name>LocaleSelector</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.LocaleSelector</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AlternateManualLanguage</display-name>
    <servlet-name>AlternateManualLanguage</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.AlternateManualLanguage</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Carline</display-name>
    <servlet-name>Carline</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Carline</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Category</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CVCCategory</display-name>
    <servlet-name>CVCCategory</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.CVCCategory</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>EngineBook</display-name>
    <servlet-name>EngineBook</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.EngineBook</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>EngineType</display-name>
    <servlet-name>EngineType</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.EngineType</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ManualLanguage</display-name>
    <servlet-name>ManualLanguage</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.ManualLanguage</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TransmissionBook</display-name>
    <servlet-name>TransmissionBook</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.TransmissionBook</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TransmissionType</display-name>
    <servlet-name>TransmissionType</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.TransmissionType</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Vin</display-name>
    <servlet-name>Vin</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Vin</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>MNAOSIVin</display-name>
    <servlet-name>MNAOSIVin</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MNAOSIVin</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>MCSIVin</display-name>
    <servlet-name>MCSIVin</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MCSIVin</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Error</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DisplayOrder</display-name>
    <servlet-name>DisplayOrder</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.DisplayOrder</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AccessManagement</display-name>
    <servlet-name>AccessManagement</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.AccessManagement</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AbbreviationMaster</display-name>
    <servlet-name>AbbreviationMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.AbbreviationMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DivisionMaster</display-name>
    <servlet-name>DivisionMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.DivisionMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SectionMaster</display-name>
    <servlet-name>SectionMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SectionMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SSTImagesMaster</display-name>
    <servlet-name>SSTImagesMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTImagesMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>USEImagesMaster</display-name>
    <servlet-name>USEImagesMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.USEImagesMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SSTMaster</display-name>
    <servlet-name>SSTMaster</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>OEMMapping</display-name>
    <servlet-name>OEMMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.OEMMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SSTSectionParentMapping</display-name>
    <servlet-name>SSTSectionParentMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTSectionParentMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DivisionModelMapping</display-name>
    <servlet-name>DivisionModelMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.DivisionModelMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SSTModelVINMapping</display-name>
    <servlet-name>SSTModelVINMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTModelVINMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SectionModelMapping</display-name>
    <servlet-name>SectionModelMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SectionModelMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Dashboard</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>VINCrossReference</display-name>
    <servlet-name>VINCrossReference</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.VINCrossReference</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ManualType</display-name>
    <servlet-name>ManualType</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.ManualType</servlet-class>
  </servlet>
  <servlet>
    <description>
		Serves the blank import template of any screen (?screen=&lt;SCREEN_KEY&gt;).
		</description>
    <display-name>ImportTemplate</display-name>
    <servlet-name>ImportTemplate</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.ImportTemplate</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SSTMDMVINMapping</display-name>
    <servlet-name>SSTMDMVINMapping</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTMDMVinMapping</servlet-class>
  </servlet>
  <servlet>
    <description>
  		</description>
    <display-name>SSTUploadImage</display-name>
    <servlet-name>SSTUploadImage</servlet-name>
    <servlet-class>com.mazda.gms3.sst.servlet.SSTUploadImage</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SIInnerLinksIdentificationHistory</display-name>
    <servlet-name>SIInnerLinksIdentificationHistory</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.SIInnerLinksIdentificationHistory</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CDRomServlet</display-name>
    <servlet-name>CDRomServlet</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CDRomDetailServlet</display-name>
    <servlet-name>CDRomDetailServlet</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CDRomScheduleServlet</display-name>
    <servlet-name>CDRomScheduleServlet</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CDRomSettingsServlet</display-name>
    <servlet-name>CDRomSettingsServlet</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomSettingsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CDRomHistoryServlet</display-name>
    <servlet-name>CDRomHistoryServlet</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CDRomScheduleReports</display-name>
    <servlet-name>CDRomScheduleReports</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomScheduleReports</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CDRomScheduleStatus</display-name>
    <servlet-name>CDRomScheduleStatus</servlet-name>
    <servlet-class>com.mazda.gms3.cdrom.servlet.CDRomScheduleStatus</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>NoAccess</display-name>
    <servlet-name>NoAccess</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.NoAccess</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>MMESIVin</display-name>
    <servlet-name>MMESIVin</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MMESIVin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SIChannelDataLoad</display-name>
    <servlet-name>SIChannelDataLoad</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.sidataload.servlet.SIChannelDataLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SIChannelDataLoad</servlet-name>
    <url-pattern>/sichanneldataload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MMESIVin</servlet-name>
    <url-pattern>/mmesivin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoAccess</servlet-name>
    <url-pattern>/noaccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SIInnerLinksIdentificationHistory</servlet-name>
    <url-pattern>/siinnerlinksidentificationhistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/mypage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VINCrossReference</servlet-name>
    <url-pattern>/vincrossref</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManualType</servlet-name>
    <url-pattern>/manualtype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportTemplate</servlet-name>
    <url-pattern>/importtemplate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxleType</servlet-name>
    <url-pattern>/axletype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BodyType</servlet-name>
    <url-pattern>/bodytype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountryLocale</servlet-name>
    <url-pattern>/countrylocale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlternateManualLanguage</servlet-name>
    <url-pattern>/altmanuallanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Carline</servlet-name>
    <url-pattern>/carline</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CVCCategory</servlet-name>
    <url-pattern>/cvccategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineBook</servlet-name>
    <url-pattern>/enginebook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EngineType</servlet-name>
    <url-pattern>/enginetype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManualLanguage</servlet-name>
    <url-pattern>/manuallanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransmissionBook</servlet-name>
    <url-pattern>/transmissionbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransmissionType</servlet-name>
    <url-pattern>/transmissiontype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vin</servlet-name>
    <url-pattern>/vin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MNAOSIVin</servlet-name>
    <url-pattern>/mnaosivin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCSIVin</servlet-name>
    <url-pattern>/mcsivin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocaleSelector</servlet-name>
    <url-pattern>/localeselector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayOrder</servlet-name>
    <url-pattern>/displayorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AbbreviationMaster</servlet-name>
    <url-pattern>/abbreviationmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DivisionMaster</servlet-name>
    <url-pattern>/divisionmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectionMaster</servlet-name>
    <url-pattern>/sectionmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTImagesMaster</servlet-name>
    <url-pattern>/sstimagesmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>USEImagesMaster</servlet-name>
    <url-pattern>/useimagesmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTMaster</servlet-name>
    <url-pattern>/sstmaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OEMMapping</servlet-name>
    <url-pattern>/oemmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTSectionParentMapping</servlet-name>
    <url-pattern>/sstsectionparentmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DivisionModelMapping</servlet-name>
    <url-pattern>/divisionmodelmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTModelVINMapping</servlet-name>
    <url-pattern>/sstmodelvinmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SectionModelMapping</servlet-name>
    <url-pattern>/sectionmodelmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessManagement</servlet-name>
    <url-pattern>/accessmanagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTMDMVINMapping</servlet-name>
    <url-pattern>/sstmdmvinmapping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SSTUploadImage</servlet-name>
    <url-pattern>/sstuploadimages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomServlet</servlet-name>
    <url-pattern>/cdrom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomDetailServlet</servlet-name>
    <url-pattern>/cdromdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomScheduleServlet</servlet-name>
    <url-pattern>/cdromschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomSettingsServlet</servlet-name>
    <url-pattern>/settings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomHistoryServlet</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomScheduleReports</servlet-name>
    <url-pattern>/schedulereports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CDRomScheduleStatus</servlet-name>
    <url-pattern>/schedulestatus</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>dot</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>docx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>dotx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.template</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xlsx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xltx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.template</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mdb</extension>
    <mime-type>application/vnd.ms-access</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mpp</extension>
    <mime-type>application/vnd.ms-project</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ppt</extension>
    <mime-type>application/ms-powerpoint</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>potx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.presentationml.template</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ppsx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.presentationml.slideshow</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pptx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>sldx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.presentationml.slide</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>vsd</extension>
    <mime-type>application/vnd.visio</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RumVinSchedule</display-name>
    <servlet-name>RumVinSchedule</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.RumVinSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RumVinSchedule</servlet-name>
    <url-pattern>/rumvinschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RumVinData</display-name>
    <servlet-name>RumVinData</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.RumVinData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RumVinData</servlet-name>
    <url-pattern>/rumvindata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ESILabelUpdateSchedule</display-name>
    <servlet-name>ESILabelUpdateSchedule</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.ESILabelUpdateSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ESILabelUpdateSchedule</servlet-name>
    <url-pattern>/esilabelupdateschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MMESIVINBatchTransactions</display-name>
    <servlet-name>MMESIVINBatchTransactions</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MMESIVINBatchTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MMESIVINBatchTransactions</servlet-name>
    <url-pattern>/mmesivinbatchtransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MCSIVINBatchTransactions</display-name>
    <servlet-name>MCSIVINBatchTransactions</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MCSIVINBatchTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MCSIVINBatchTransactions</servlet-name>
    <url-pattern>/mcsivinbatchtransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterDataLocaleMapping</display-name>
    <servlet-name>MasterDataLocaleMapping</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MasterDataLocaleMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterDataLocaleMapping</servlet-name>
    <url-pattern>/masterdatalocalemapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SITranslationUpdate</display-name>
    <servlet-name>SITranslationUpdate</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.SITranslationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SITranslationUpdate</servlet-name>
    <url-pattern>/translationupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SITranslationOtherOps</display-name>
    <servlet-name>SITranslationOtherOps</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.SITranslationOtherOps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SITranslationOtherOps</servlet-name>
    <url-pattern>/translationotherops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMIToolServlet</display-name>
    <servlet-name>RMIToolServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.rmitool.servlet.RMIToolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMIToolServlet</servlet-name>
    <url-pattern>/rmitool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMIToolHistoryServlet</display-name>
    <servlet-name>RMIToolHistoryServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.rmitool.servlet.RMIToolHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMIToolHistoryServlet</servlet-name>
    <url-pattern>/rmitoolhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMIToolViewDetailsServelt</display-name>
    <servlet-name>RMIToolViewDetailsServelt</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.rmitool.servlet.RMIToolViewDetailsServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMIToolViewDetailsServelt</servlet-name>
    <url-pattern>/rmitoolviewdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MNAOSIVINBatchTransactions</display-name>
    <servlet-name>MNAOSIVINBatchTransactions</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.MNAOSIVINBatchTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MNAOSIVINBatchTransactions</servlet-name>
    <url-pattern>/mnaosivinbatchtransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchMaintenanceVINMapping</display-name>
    <servlet-name>SchMaintenanceVINMapping</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.servlet.SchMaintenanceVINMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchMaintenanceVINMapping</servlet-name>
    <url-pattern>/schMainVinMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataExportToolServlet</display-name>
    <servlet-name>DataExportToolServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.dataexttool.servlet.DataExportToolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataExportToolServlet</servlet-name>
    <url-pattern>/mnaodataexport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataExportToolHistoryServlet</display-name>
    <servlet-name>DataExportToolHistoryServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.dataexttool.servlet.DataExportToolHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataExportToolHistoryServlet</servlet-name>
    <url-pattern>/mnaodataexporthistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataExportToolViewDetailsServlet</display-name>
    <servlet-name>DataExportToolViewDetailsServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.dataexttool.servlet.DataExportToolViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataExportToolViewDetailsServlet</servlet-name>
    <url-pattern>/mnaodataexportview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NMDScheduleTransactions</display-name>
    <servlet-name>NMDScheduleTransactions</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.nmdtool.servlet.NMDScheduleTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NMDScheduleTransactions</servlet-name>
    <url-pattern>/nmdschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NMDScheduleHistoryServlet</display-name>
    <servlet-name>NMDScheduleHistoryServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.nmdtool.servlet.NMDScheduleHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NMDScheduleHistoryServlet</servlet-name>
    <url-pattern>/nmdschedulehistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NMDScheduleViewDetailsServlet</display-name>
    <servlet-name>NMDScheduleViewDetailsServlet</servlet-name>
    <servlet-class>com.mazda.gms3.mdm.nmdtool.servlet.NMDScheduleViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NMDScheduleViewDetailsServlet</servlet-name>
    <url-pattern>/nmdtoolview</url-pattern>
  </servlet-mapping>
</web-app>