<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DMT_Optimized</display-name>
  <filter>
		<description>
		</description>
		<display-name>CharSetEncodingFilter</display-name>
		<filter-name>CharSetEncodingFilter</filter-name>
		<filter-class>com.mazda.gms3.dmt.filter.CharSetEncodingFilter</filter-class>
	</filter>
	<filter>
		<display-name>AccessManagementFilter</display-name>
		<filter-name>AccessManagementFilter</filter-name>
		<filter-class>com.mazda.gms3.dmt.filter.AccessManagementFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharSetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AccessManagementFilter</filter-name>
		<url-pattern>
		/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Schedule</display-name>
		<servlet-name>Schedule</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.Schedule</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LocaleSelector</display-name>
		<servlet-name>LocaleSelector</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.LocaleSelector</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>History</display-name>
		<servlet-name>History</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.History</servlet-class>
	</servlet>
	<servlet>
		<description>Content preview of one job (opened from the History page). Reads only the job's preview folder.</description>
		<display-name>Preview</display-name>
		<servlet-name>Preview</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.Preview</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Settings</display-name>
		<servlet-name>Settings</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.Settings</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NoAccess</display-name>
		<servlet-name>NoAccess</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.NoAccess</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Error</display-name>
		<servlet-name>Error</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.Error</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ScheduleReports</display-name>
		<servlet-name>ScheduleReports</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.servlet.ScheduleReports</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MetaDataValidation</display-name>
		<servlet-name>MetaDataValidation</servlet-name>
		<servlet-class>com.mazda.gms3.dmt.metadataval.servlet.MetaDataValidation</servlet-class>
	</servlet>
	<servlet>
    <description></description>
    <display-name>MasterDataSync</display-name>
    <servlet-name>MasterDataSync</servlet-name>
    <servlet-class>com.mazda.gms3.dmt.autosync.servlet.MasterDataSync</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DownloadIPMFaceliftOtherChannelReports</display-name>
    <servlet-name>DownloadIPMFaceliftOtherChannelReports</servlet-name>
    <servlet-class>com.mazda.gms3.dmt.servlet.DownloadIPMFaceliftOtherChannelReports</servlet-class>
  </servlet>
  <servlet>
    <description>Internal utility - upload / list / delete files on the shared okassets folder. Accessed directly by URL, not linked from the menu.</description>
    <display-name>FileUploadManager</display-name>
    <servlet-name>FileUploadManager</servlet-name>
    <servlet-class>com.mazda.gms3.dmt.servlet.FileUploadManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadManager</servlet-name>
    <url-pattern>/fileuploadmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadIPMFaceliftOtherChannelReports</servlet-name>
    <url-pattern>/downloadipmfaceliftotherchannelreports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MasterDataSync</servlet-name>
    <url-pattern>/mdsync</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetaDataValidation</servlet-name>
		<url-pattern>/metadatavalidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduleReports</servlet-name>
		<url-pattern>/schedulereports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schedule</servlet-name>
		<url-pattern>/schedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocaleSelector</servlet-name>
		<url-pattern>/localeselector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Preview</servlet-name>
		<url-pattern>/preview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Settings</servlet-name>
		<url-pattern>/settings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoAccess</servlet-name>
		<url-pattern>
		/noaccess</url-pattern>
	</servlet-mapping>
	<!-- OOTB MIME types -->
   <mime-mapping>
      <extension>doc</extension>
      <mime-type>application/msword</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>dot</extension>
      <mime-type>application/msword</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>docx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>dotx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.template</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>xls</extension>
      <mime-type>application/vnd.ms-excel</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>xlsx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>xltx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.template</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>mdb</extension>
      <mime-type>application/vnd.ms-access</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>mpp</extension>
      <mime-type>application/vnd.ms-project</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>ppt</extension>
      <mime-type>application/ms-powerpoint</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>potx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.presentationml.template</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>ppsx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.presentationml.slideshow</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>pptx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>sldx</extension>
      <mime-type>application/vnd.openxmlformats-officedocument.presentationml.slide</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>vsd</extension>
      <mime-type>application/vnd.visio</mime-type>
   </mime-mapping>
   <!-- Adobe Flash -->
   <mime-mapping>
      <extension>swf</extension>
      <mime-type>application/x-shockwave-flash</mime-type>
   </mime-mapping>
   <!-- zip File-->
   <mime-mapping>
      <extension>zip</extension>
      <mime-type>application/zip</mime-type>
   </mime-mapping>
	<error-page>
    <error-code>401</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/noaccess</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error</location>
  </error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>