<table width="100%" cellpadding="0" cellspacing="0" style="margin-left: auto;margin-right: auto;">
<tr>
	<td>
		<!-- HEADER -->
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="30%" align="left"> 
					<!-- <img src="HOSTNAME_CONTEXTNAME/okdmigt/images/u7.png" border="0" style="width: 165px;float: left;"/> -->
				</td>
				<td align="right" style="font-size: 23px;text-transform: uppercase;	color:#555555;	vertical-align:middle;">
					DATA MIGRATION TOOL
				</td>
			</tr>
		</table>
		<br />
		<br />
		<!-- Content Block -->
		<table width="100%" border="0"  style="border:1px solid #DADADA; padding:10px;" align="center">
			<tr>
				<td style="font-size:12px;color:#5C5B65;"><b>SCHEDULE_JOB_NAME</b> conversion has been executed by END_USER_NAME and finished at END_TIME with status as <b>"JOB_STATUS"</b>. Please find the summary of the execution - </td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<table style="border:1px solid #DADADA !important;margin-left:auto;margin-right:auto;" width="100%" cellpadding="0" cellspacing="0" border="1">
						<tr style="height: 30px;">
							<th style="color:#5C5B65;border-left: none !important;font-size:12px;font-weight: bold;"></th>
							<th colspan="3" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Process Documents Count</th>
							<th colspan="3" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Delete Documents Count</th>
							<th colspan="3" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">OKAssets Count</th>
							<th colspan="3" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">OKAssets Delete Count</th>
							<th colspan="3" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Meta Data Count</th>
						</tr>
						<tr style="height: 30px;">
							<th width="5%" style="color:#5C5B65;border-left: none !important;font-size:12px;font-weight: bold;border-bottom: 1px solid #DADADA;">#.</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Total</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Processed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Failed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Total</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Processed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Failed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Total</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Processed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Failed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Total</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Processed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Failed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Total</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Processed</th>
							<th width="6%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;" >Failed</th>
						</tr>
						<tbody>
							DATA_PLACE_HOLDER
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align:center" align="center">
					<table style="border:1px solid #DADADA !important;margin-left:auto;margin-right:auto;" width="70%" cellpadding="0" cellspacing="0" border="1">
						<tr style="height:30px;">
							<th width="5%" style="color:#5C5B65;border-left: none !important;font-size:12px;font-weight: bold;border-bottom: 1px solid #DADADA;">#.</th>
							<th width="8%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Market</th>
							<th width="8%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Locale</th>
							<th width="8%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Model</th>
							<th width="10%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Manual Type</th>
							<th width="10%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Material</th>
							<th width="13%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Total Docs For Processing</th>
							<th width="13%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">Total Docs For Deletion</th>
							<th width="12%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">OKAssets Count</th>
							<th width="13%" style="color:#5C5B65;font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;text-align:center;border-bottom: 1px solid #DADADA;">OKAssets Deletion Count</th>
						</tr>
						<tbody>
							ITEM_DETAILS_PLACE_HOLDER
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size:12px;color:#5C5B65;">Please click <a href="URL_REPORT_DOWNLOAD" target="_blank">here</a> to download Detailed Reports.</td>
			</tr>
			<tr>
				<td height="3"></td>
			</tr>
			<tr>
				<td style="font-size:12px;color:#5C5B65;">If you wish to visit the History Page, please use the following link - <a href="HOSTNAME_CONTEXTNAME/okdmigt/history"" target="_blank">HOSTNAME_CONTEXTNAME/okdmigt/history</a>
			</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size:12px;color:#5C5B65;">Regards,<br />MGSS Application.<br />Note - This is an auto generated email. Please do not respond to this email.</td>
			</tr>	
		</table>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td style="font-size:11px;color:#5C5B65;" width="30%">&copy; MAZDA</td>
				<td style="font-size:11px;color:#5C5B65;text-align:center" width="40%">&copy; COPYRIGHT_YEAR Mazda Confidential & Proprietary </td>
				<td style="font-size:11px;color:#5C5B65;" width="30%"></td>
			</tr>
		</table>
</td>
</tr>
</table>