body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: ffffff;
}
p.servinfo-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: center;
}
p.servinfo-title-id {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
span.servinfo-head {
}
p.servinfosub-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
}
span.servinfosub-head {
}
p.topic-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}
span.topic-head {
}
p.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
dl.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.list-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
p.table-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
p.thead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
p.tbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.tbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.entry-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
p.figure-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
div.figure-caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6pt;
	text-align: right;
}
div.attention1-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: red;
}
div.attention1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.attention2-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: red;
}
div.attention2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.attention3-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: blue;
}
div.attention3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
font.intxref-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
font.extxref-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.ptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.deflist {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
div.spec {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
p.symbol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
span.bold {
	font-weight: bold;
}
table.figure-float {
	width:90mm;
	height:45mm;
	border-top-width:0.15mm;
	border-bottom-width:0.15mm;
	border-left-width:0.15mm;
	border-right-width:0.15mm;
	border-style:solid;
}
table.figure-non-float {
	width:170mm;
	height:45mm;
	border-top-width:0.15mm;
	border-bottom-width:0.15mm;
	border-left-width:0.15mm;
	border-right-width:0.15mm;
	border-style:solid;
}
table.continuity-1 {
	width:170mm;
	height:45mm;
	text-align: center;
}
table.continuity-2 {
	width:90mm;
	height:45mm;
}
table.figure-flame {
}
table.figure-flame-non {
}
table.table-flame {
}
th {
}
span.wingdings {
	font-family: Wingdings ;
}
span.msgothic {
	font-family: "ÇlÇr ÉSÉVÉbÉN" ;
}
span.Times_New_Roman {
	font-family: "Times New Roman" ;
}
span.ZapfDingbats {
	font-family: "ZapfDingbats" ;
}
span.Symbol {
	font-family: "Symbol" ;
}
div.rotate {
	writing-mode: tb-rl ;
	filter:fliph() flipv();
}
a:link
{
    /* ñ¢ñKñ‚ÉäÉìÉN */
    color: #3366CC;
}
a:visited
{
    /* ñKñ‚çœÇ›ÉäÉìÉN */
    color: #9999CC;
}