<html>
<head>
</head>
<body>
<table width="100%" border="0" cellpadding="3" cellspacing="1">
	<tr>
		<td colspan="4" style="font-size:14px;color:#5C5B65;">The following record(s) for KEY_LABEL has been updated by USER_WSL at SYSTEM_TIME.</td>
	</tr>
	<tr>
		<td colspan="4">
			<table class="tableclass" width="100%" style="border:1px solid #DADADA !important;">
				<tr style="height: 30px;">
					<th width="10%" align="left" style="font-weight:bold;font-size:12px;color:#5C5B65;">#.</th>
					<th width="30%" align="left" style="font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;">Rule Name</th>
					<th width="30%" align="left" style="font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;">Rule Description</th>
					<th width="15%" align="left" style="font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;">Status</th>
					<th width="15%" align="left" style="font-weight:bold;font-size:12px;color:#5C5B65;border-left: 1px solid #DADADA;">Modified Time</th>
				</tr>
				DATA_PLACEHOLDER
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4" style="font-size:12px;color:#5C5B65;">Regards,<br />MDM Team</td>
	</tr>	
</table>
</body>
</html>